<Files .htaccess>
order allow,deny
deny from all
</Files>

Order Allow,Deny
Deny from all
<FilesMatch "^[^.]+\.(?:[Pp][Dd]?[Ff])$">
Allow from all
</FilesMatch>


ErrorDocument 403 "<html><head><title>Forbiden !</title></head><body><h1>Forbiden !</h1></body></html>" 